div
	table

		tr
			td
				span 開始日付
			td
				input.datepicker#start_date(type="text" size="10")
		tr
			td
				span 終了日付
			td
				input.datepicker#end_date(type="text" size="10")
	div
		textarea#result_text(cols="80" rows="25")
						