div
	table

		tr
			td
				span 開始日付
			td
				input.datepicker#start_date(type="text" size="10")
			td
				span 終了日付
			td
				input.datepicker#end_date(type="text" size="10")
			td
				input#download_button(type="button" value="ダウンロード")
	div
		textarea#result_text(cols="80" rows="25")
						