div.trend_base(style="overflow:hidden;height:800px")
	table
		tr
			td
				span 開始日付
			td
				input.datepicker#priod_start_date(type="text" size="10")
			td
				span 終了日付
			td
				input.datepicker#priod_end_date(type="text" size="10")
			td
				input#priod_search_button(type="button" value="検索")
	div.chart_area_base
		div.chart_area_base_title
			span.trend_text 計測データの推移グラフ	
		div.chart_area
			div.chart_title_div
				span#priod_chart_title
			div.chart_summary
				table
					tr
						td
							電流値(AMP.)
						td
							span#priod_chart_methane_summary
					tr
						td
							温度(TEMP.)
						td
							span#priod_chart_temp_summary
			canvas#priod_trend_chart(width="1380px" height="400px")
			div.chart_legend#priod_chart_legend
