/* メタン濃度計測システム */

div#trend_base {
	width:100%;
 	overflow:auto;
}
div#header {
	width:100%;
	height:300px;
}
/* メタン濃度、温度表示用 */
div#trend_a {
    float:left;
    border:none;
    padding-left:4px;
    padding-right:10px;
    font-size:48px;
}
/* 子機情報表示用 */
div#trend_b {
    float:left;
    border:none;
    padding-left:4px;
    padding-right:4px;
    font-size:24px;
    width:800px;
}
.trend_value {
	text-align:center;
}
div.chart_area_base {
    float:left;
    position:relative;
    top: 20px;
    font-size:24px;
	
}
div.chart_area_title {
	float:left;
	position:relative;
	width:1400px;
}
div.chart_area {
    float:left;
    position:relative;
    top: 10px;
    border:solid 1px red;
    width:1400px;
    height:450px;
    padding-top:10px;
    margin-top:10px;
}
div.chart_title_div {
    float:left;
    top:50px;
    left:10px;
    border:none;
    padding-left:4px;
    font-size:24px;
    width:600px;
    height:50px;
	
}
/* チャート表示エリア */
div#chart {
    top:150px;
    left:10px;
    border:none;
    padding-left:4px;
    font-size:24px;
    width:1000px;
    height:500px;
}
span#last_measure_time {
    font-size:32px;
}

/* メタン濃度、温度表示用 */
table.trend_table td.trend_title {
    text-align:center;
    width:250px;
}
table.trend_table td.trend_title_s {
    text-align:center;
    width:180px;
}
table.trend_table td.trend_title_l {
    text-align:center;
    width:300px;
}

table.trend_table td.trend_value {
    text-align: right;
}

table.trend_table td.trend_unit {
    text-align: left;
}

/* チャートの凡例表示用 */
.chart_legend {
	position:relative;
	top:-450px;
	left:600px;
 	width:400px;
	height:50px;
	padding: 10px;
	overflow: hidden;
}

/* チャートの凡例表示用 */
ul.line-legend {
    list-style: none outside none;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    left: 50%;
}
/* チャートの凡例表示用 */
ul.line-legend > li {
    float: left;
    margin-right: 5px;
    padding: 5px;
    left: -50%;
}

